/* CARD */
.card {

    width: 100%;

    h3 {
        margin-top: 0
    }

    .card-title {
        small  {
            font-weight: bold;
            margin-left: $len-x2;
        }
    }

    .card-image {
        min-height: 180px;
    }

    .card-actions {
        bottom: -$len-x3;        
        position: absolute;
        right: $len-x2;

        a {
            margin-right: $len-x1;
        }
    }

    .card-badge {
        position: absolute;
        left: $len-x2;
        top: $len-x2;
       // z-index: 1;
        svg {
            height: "40px";
            width: "40px";
        }
    }
}

/* Media Querys */
@media (min-width: 768px) {
    .card {
        width: 325px;
        margin-bottom: $len-x2;
    }
    .card-actions {
        bottom: -$len-x3;
    }
}

/* Modifiers */
.card--completed {
    opacity: 0.4;
}

.card--featured {
    border: 1px solid $highlight-color;
}