@import './variables';

html, body, #root, .App, main {
    min-height : 100vh;
}

body {
    background-color: $background-color;   
}

.logo {
    color : $white-color;
    display : inline-block;
    font-size : 120%;
    flex-grow : 1;
}

h1 {
    font-size: 2em;
    text-align: center;
    margin : $len-x4 0;
    @media (min-width: 768px) {
        font-size: 3em;
        margin : $len-x5 0;
        text-align: left;
    }
}

a {
    color: $base-color;
}

/* MISC */
.spacing {
    padding: 0 20px;
}

.alert {
    border: 1px solid $border-color;
}

.reset {
    padding-bottom:10px;
}

/* BOX */ 
.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.score-list {
    li {
        padding: $len-x1 0;
        div.marker {
            display: inline-block;
            width: $len-x8;
        }
    }
}
