$base-color: #3f51b5;
$background-color: #fafafa;
$highlight-color: #a17f1a;
$border-color: #070202;
$shadow-color: #888888;
$white-color: #FFFFFF;

//length
$len-half: 2px;
$len-x1: 4px;
$len-x2: 8px; 
$len-x3: 12px; 
$len-x4: 16px; 
$len-x5: 20px; 
$len-x6: 24px; 
$len-x7: 28px; 
$len-x8: 32px; 
$len-x16: 64px; 